body {
    margin: 0px;
    font-family: 'Open Sans',
    sans-serif;
    }
#header ul{
    display:flex;
    }
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
a {
    text-decoration: none;
}

.caro{
    padding: 30px 60px 10px ;
}
.slid{
    padding: 60px 40px;
}

.footerr{
    background-color: lightblue;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  #section1 p{
      font-size: 200%;
      color: white;

  }
  #section1 ul li a:hover {
    background-color: orangered;
  }
  #section1 .row ul li a{
    margin: 11px 8px 0px 8px;
    display: block;
    font-size: 1.6rem;
    padding: 12px 10px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 0 white;
    color: #fff;
    text-align: center;
    width: 150px;
    transition-duration: 0.4s;
  }
  #section3 p{
      width: 60%;
      font-size: 150%;
      margin-left: 200px;
  }
  #section3 h1{
      margin-top: 50px;
      color: navy;
  }
  #section3 .card:hover {
background-color: orangered;  }
#section3 .card{
    width: 40%;
    padding: 16px 16px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 8px 8px 8px 4px rgba(0,0,0,0.4);
    transition: 0.4s;
    text-align: center;
    float: left;
}
#section3{
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    padding: 100px;
    margin-bottom: 1200px;
}
  
  #section2 .card:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.796);
  }
  #section2 .card {
    padding: 16px 16px;
    margin-right: 150px;
    box-shadow: 8px 8px 8px 4px rgba(0,0,0,0.4);
    transition: 0.4s;
    text-align: center;
    float: left;
  }
  #section2{
      width: 100%;
      height: 40%;
      margin: 20px 100px;
  }
  #section1 .row ul li{
    background: #4e59ad;
    border: 1px solid #4e59ad;
    width: 150px;
    height: 50px;
    color: #fff;
    margin: 11px 8px 0px 8px;
    float: left;
  }
  #section1 .row ul{
      margin-left: 250px;
  }
  #section1 h1{
      font-size: 400%;
      color: white;
      }
  #section1{
    width: 100%;
    background-image: url(https://www.careerguide.com/images_new/career-guidance-in-india-edited.png);
    background-size: cover;
    height: 562px;
    text-align: center;
    margin-top: 20px;
}
  
  #main-navigation ul li a:hover {
    background-color: tomato;
  }
#main-navigation ul li a {
    display: block;
    padding: 15px 16px;
    color: #000;
    letter-spacing: 1px;
    float: left;
    transition-duration: 0.4s;
    }
    #main-navigation ul li.dropdown {
    position: relative;
    }
    #main-navigation ul li.dropdown:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 22px;
    border: 4px solid #000;
    border-color: #000 transparent transparent;
    }
#main-navigation ul li {
    margin: 0px 10px;
    display: block;
    float: left;
    }
#main-navigation {
    border:1px solid rgba(0,0,0,0.22);
    margin: 0px 10px;
    border-radius: 5px;
    
    }
    /* #main-navigation .col {
        display: inline-block;
        } */
    #main-navigation .col-1 {
    width: 60%;
    margin-right: 200px;
    }
    #main-navigation .col-2 {
    width: 150%;
    margin-right: 600px;
    }
    #main-navigation select {
    width: 80%;
    padding: 10px;
    letter-spacing: 1px;
    background-color: #F3F3F3;
    border: none;
    }
#header .search button:hover {
    background-color: rebeccapurple;
    }
#header .search button {
    position: absolute;
    background-color:#FFC107;
    border: none;
    color: #fff;
    border-radius: 2px;
    width: 60px;
    height: 42px;
    right: 22px;
    margin-right: 120px;
    }
#header .search input[type='text'] {
    width: 300%;
    height: 40px;
    padding: 0px 10px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #000;
    }
#header .search {
    position: relative;
    }
#header .user_nav ul li a i {
    color: rebeccapurple;
    }
#header .user_nav ul li a {
    color: #000;
    letter-spacing: 1px;
    font-size: 13px;
    }
#header .user_nav ul li {
    padding: 5px 5px;
    border-right: 1px solid rgba(18, 18, 18, 0.18);
    margin-bottom: 20px;
    width: 150px;
    }
.name_text{
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-left: 80px;
    }
#header .logo {
    width: 36%;
    margin-right: 40px; 
    }
#header .user_section{
    width: 62%;
    margin-right: 50px;
    }
#header {
    margin-bottom: 20px;
    background-color: tomato;
    }
#header .row {
    justify-content: space-between;
    }
.container {
    width: 1170px;
    margin: 0 auto;
    }
#header ul{
    display:flex;
    }
.row{
    display:flex;
    }
.title_red_letter{
    color: rebeccapurple;
    }
.right {
    float: right;
    }
.left {
    float: left;
    }
h1, h2, h3, h4, h5,h6 {
    margin-top: 0px;
    color: #232526;
    }
    footer{
        position: static;
        bottom: 0;
       }
       .footer-distributed{
        background-color: #292c2f;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        
        padding: 55px 50px;
        margin-top: 80px;
       }
        
       .footer-distributed .footer-left,
       .footer-distributed .footer-center,
       .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
       }
        
       .footer-distributed .footer-left{
        width: 40%;
       }
        
       .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
       }
        
       .footer-distributed h3 span{
        color:  #5383d3;
       }
        
        
       .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
       }
        
       .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
       }
        
       .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
       }
        
        
       .footer-distributed .footer-center{
        width: 35%;
       }
        
       .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
       }
        
       .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
       }
        
       .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
       }
        
       .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
       }
        
       .footer-distributed .footer-center p a{
        color:  #5383d3;
        text-decoration: none;;
       }
        
       .footer-distributed .footer-right{
        width: 20%;
       }
        
       .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
       }
        
       .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
       }
        
       .footer-distributed .footer-icons{
        margin-top: 25px;
       }
        
       .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
        
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        
        margin-right: 3px;
        margin-bottom: 5px;
       }
        
        
       @media (max-width: 880px) {
        
        .footer-distributed{
        font: bold 14px sans-serif;
        
        }
        
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        }
        
        .footer-distributed .footer-center i{
        margin-left: 0;
        }
    }